    <header>
      <div class="inner">
        <a href="index"><img src="{{ url('resources/' ~ active_product.short_name ~ '/icons/ms-icon-144x144.png') }}" style="padding-right: 20px;" align="left"></a>
        <h1>{{ active_product.name }}</h1>
        <h2>{{ subtitle }}</h2>
        <a href="{{ active_product.github }}" target="_blank" class="button"><small>View project on</small> GitHub</a>
      </div>
    </header>
